body {
  position: relative;
  overflow-y: scroll;
  padding-top: 60px;
}

h1{
  font-size: 55px;
  font-family: 'Rock Salt', cursive;
}

.jumbotron h1 {
    font-size: 55px;
}

footer{
  background-color: #363333;
  color: white;
  text-align: center;
}
.panel h1{
  text-align: center;
}

.jumbotron{
  background-color: transparent;
}

.well{
  margin-bottom: 0px;
}

.container-fluid{
  background-color: transparent;
  margin-bottom: 0px;
}

.nav-pills {
  font-size: 1.9em;
  font-family: quicksand;
  font-color: white;
  background-size: cover;
}

.navbar-brand {
  margin-bottom: 25px;
  margin-top: -10px;
  margin-left: 100px;
}

.navbar-right {
  padding-right: 100px;
}

.align{
  text-align: center;
  align-items: center;
  align-content: center;
  background-color: #D7FCDA;
  font-family: cursive;
}


.content-wrapper .container {
  width: 100%;
}

.row{
  margin-top: 4em;
}

.about-me{
  margin-bottom: 0px;
}

/* Typing Animation*/

.about {
  background: black;
  padding-top: 10px;
  height: auto;
}

.about p {
  color: lime;
  font-family: "Courier";
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 4s steps(20, end);
}


/* steps() takes first parameter as no. of steps*/

.about p:nth-child(2) {
  animation: type3 8s steps(80, end);
}

.about p:nth-child(3) {
  animation: type3 16s steps(60, end);
}

.about p:nth-child(4) {
  animation: type3 19s steps(80, end);
}

.about p:nth-child(5) {
  animation: type3 22s steps(80, end);
}

.about p:nth-child(6) {
  animation: type3 25s steps(100, end);
}

.about p:nth-child(7) {
  animation: type3 29s steps(150, end);
}

.about p:nth-child(8) {
  animation: type3 33s steps(180, end);
}

.about p:nth-child(9) {
  animation: type3 38s steps(180, end);
}

span {
  animation: blink 1s infinite;
}

@keyframes type {
  from {
    width: 0;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  50% {
    width: 0;
  }
  100% {
    width: 100;
  }
}

@keyframes type3 {
  0% {
    width: 0;
  }
  50% {
    width: 0;
  }
  75% {
    width: 0
  }
  87% {
    width: 0
  }
  /* It's essential to set the width to 0 at higher %s the more p elements you apply it to consecutavely */
  100% {
    width: 100;
  }
  /*Width should always be 100 at 100%*/
}

@keyframes blink {
  to {
    opacity: .0;
  }
}

::selection {
  background: black;
}

#about-me{
  padding-top: 120px;
}

#portfolio{
  background-image: url(http://hyunky.com/images/fd-7/empty-room-wall-design-ideas-5.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
  z-index = -1;
  padding: 2em 0 10em 0;
}

#middle{
  padding: 2em 4em 0 4em;
}

#center{
  align-items: center;
  align-content: center;
  margin: 7% 0 3% 31%;
}

#resize{
  margin-top: 8%;
}

#target1{
  padding-left: 4%;
}

#welp {
  display: block;
  margin: 0 auto 20px;
  width: 100px;
}

#name {
  display: block;
  text-transform: uppercase;
  font-family: 'Permanent Marker', cursive;
  font-size: 3em;
}

#sub-name {
  font-size: 2.5em;
  font-weight: 900;
  font-family: 'Amatic SC', cursive;
}


#home {
    background: #52b9e9;
    padding: 4% 2%;
    align-content: center;
    text-align: center;
}

#contact {
  background: #52b9e9;
  align-content: center;
  text-align: center;
}


.contact {
  position: fixed;
}

